<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Mapper.BookMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.pojo.book">
        <id column="book_id" property="book_id" />
        <result column="name" property="name" />
        <result column="number" property="number" />
        <result column="prices" property="prices" />
    </resultMap>

    <select id="selectPageVo" resultMap="BaseResultMap">
        SELECT * FROM book
    </select>
    <update id="updateByNumber">

    </update>
</mapper>