<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Mapper.MaLocationMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="MaLocationMap" type="com.example.demo.pojo.MaLocation">
                    <id column="mt_area" property="mtArea" />
                    <result column="ma_no" property="maNo" />
                    <result column="mt_areaName" property="mtAreaname" />
                    <result column="user_no" property="userNo" />
                    <result column="operate_date" property="operateDate" />
                    <result column="operate_time" property="operateTime" />
                    <result column="lock_yn" property="lockYn" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        mt_area, ma_no ,mt_areaName, user_no, operate_date, operate_time, lock_yn
    </sql>
        <select id="selectByMano" parameterType="String" resultMap="MaLocationMap">
            select * from ma_location where ma_no=#{ma_no};
        </select>
</mapper>
